
{% extends 'base.html'%}

{% block content%}

<h1>Add Stock</h1>
<br/>
<form action= "add_stock.html" class="form-inline my-2 my-lg-0" method= "POST">
    {%csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Add to portfolio" aria-label="Search" name= "ticker">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"> Add Stock</button>
</form>

<br/><br/>
<table class="table table-bordered table-striped table-hover">
        <thead class= "thead-dark">
          <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Stock Price</th>
            <th scope="col">Previous Close</th>
            <th scope="col">Market Cap</th>
            <th scope="col">Year to date changes</th>
            <th scope="col">Delete Stock</th>
          </tr>
        </thead>
        <tbody>
        {% if ticker%}
            
                
                {%for list_item in output%}
                <tr>
                    <th scope="row">{{list_item.companyName}} </th>
                    <td>{{list_item.latestPrice }}<td>
                    <td>{{list_item.previousClose }}<btd>
                    <td>{{list_item.marketCap }}<td>
                    <td>{{list_item.ytdChange }}<td>
                    <td> <a href="/"> Delete </a> </td>
                </tr>
                {%endfor%}
            
            
        {% endif%}
        </tbody>
      </table>

{% for item in ticker %}
    {{item}} - <a href="{% url 'delete' item.id %}"> Delete Stock</a> <br/>
{% endfor %}

<br/><br/>

{%for list_item in output%}
      {{list_item.companyName}} <br/>
      {{list_item.latestPrice }}<br/>
      {{list_item.previousClose }}<br/>
      {{list_item.marketCap }}<br/>
      {{list_item.ytdChange }}<br/> <br/> 

{%endfor%}


{% endblock%}



